<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
   <title>{{page.title}}</title>
  </head>
  <body>

<dl>
<dd>
<b> Zhenhuan Ouyang</b>
<br>
email:oyzh1992@gmail.com
<br>
Welcome
</dd>
</dl>
<hr>
<h1>
    {{content}}

<div class="footer">
    <div class="contact">
      <p>
        <a href="http://github.com/oyzh/">github.com/oyzh</a><br />
      </p>
    </div>
  </div>
</div>
  </body>
</html>
