<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/post.css">
    <script src="/scripts/jquery-3.1.1.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script type="text/javascript">

    </script>
	<title>{{page.title}}</title>
  </head>

  <body>
    <header>
      <nav>
		<div id="mytitle">
    	          <a href="/index.html"><img src="/images/racket.png" height="50" width="50" alt="" /></a>
                  <a style="font-family:Source Code Pro,Monaco,Courier,Consolas;" href="index.html">(set 'name "oyzh")</a>
		</div>
		<a href="https://github.com/oyzh/oyzh.github.io"><img id="forkme" src="/images/fork_me.png"" alt="Fork me on GitHub"></a>
      </nav>
     </header>
	<article>
	<h1 id="articlename">{{ page.title }}</h1>
		{{content}}

<!-- LiveRe City install code -->
<div id="lv-container" data-id="city" data-uid="MTAyMC8yNjk2NC8zNTUx">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>Please activate JavaScript for write a comment in LiveRe</noscript>
</div>
<!-- completed City install code -->

	</article>


	<footer>
	Copyright &#x000A9;&nbsp;2016 &#x000B7 <a href="/index.html">oyzh</a>
	</footer>
  </body>
	<script>$("pre").wrapInner("<code></code>");</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>
</html>
